:root {
  --white: rgba(255, 255, 255, 1);
  --white-transparent: rgba(255, 255, 255, 0.5);

  --black: rgba(0, 0, 0, 1);
  --grey: rgba(231, 233, 241, 1);
  --grey-text-db: rgba(105, 107, 115, 1);
  --grey-stroke: rgba(230, 229, 232, 1);

  --blue-transparent: rgba(1, 1, 31, 0.4);
  --blue-text: rgba(5, 13, 42, 0.4);

  --blue-link-text: rgb(72, 112, 255, 1);
  --blue-main: rgb(23, 30, 54);
}
